[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = "*"
raven = "*"
djangorestframework = "*"
django-filter = "*"
redis = "*"
djangorestframework-jwt = "*"
markdown = "*"
mysqlclient = "*"
pyjwt = "*"
pylint = "*"
requests = "*"
sqlalchemy = "*"
pymysql = "*"
django-requestlogging = "*"
mysql-connector = "*"
django-cors-headers = "*"
django-extensions = "*"
"flake8" = "*"
yapf = "*"
faker = "*"

[dev-packages]
pylint = "*"
rope = "*"
"flake8" = "*"
"autopep8" = "*"
black = "*"

[requires]
python_version = "3.6"
